<form action="{{action}}" method="get" class="{{formClass}}">
    <label for="url">{{urlLabel}}</label>
    <input type="text" id="url" name="url" required>
    <input type="submit" value="{{submitValue}}">
</form>
