{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_urlpreview/metadata
    This is the template that renders the preview and metadata table
}}
<table class="table table-sm table-bordered">
    <tr>
        <th>Property</th>
        <th>Content</th>
    </tr>
    <tr>
        <td>Link Preview</td>
        <td>
            <div style="max-width: 450px" class="p-2">
                <div class="card shadow-sm">
                    {{#image}}
                        <img class="card-img-top" src="{{{.}}}" alt="Preview Image">
                    {{/image}}
                    <div class="card-footer">
                        {{#title}}
                            <h5><a href="{{canonicalurl}}" target="_blank" class="card-title stretched-link">{{.}}</a></h5>
                        {{/title}}
                        {{#description}}
                            <div class="card-text">{{.}}</div>
                        {{/description}}
                        {{#sitename}}
                            <small class="card-text text-muted text-uppercase">{{.}}</small>
                        {{/sitename}}
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>Slim preview</td>
        <td>
            <div style="max-width: 800px" class="p-2">
                <div class="border shadow-sm rounded">
                    <div class="row no-gutters">
                        <div class="col-md-2">
                            {{#image}}
                                <img class="rounded-left" style="max-width: 120px" src="{{{.}}}" alt="">
                            {{/image}}
                        </div>
                        <div class="col-md-10">
                            <div class="py-2 px-0">
                                {{#title}}
                                    <b class="text-truncate my-0"><a href="{{canonicalurl}}" target="_blank" class="card-title stretched-link">{{.}}</a></b>
                                {{/title}}
                                {{#description}}
                                    <div class="text-truncate my-0 pr-2">
                                        {{#sitename}}<small class="card-text text-muted text-uppercase">{{.}}｜</small>{{/sitename}}{{.}}
                                    </div>
                                {{/description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>og:url</td>
        <td>{{#canonicalurl}}<a href="{{.}}" target="_blank">{{.}}</a>{{/canonicalurl}}{{^canonicalurl}}<i>Not available</i>{{/canonicalurl}}</td>
    </tr>
    <tr>
        <td>og:type</td>
        <td>{{#type}}{{.}}{{/type}}{{^type}}<i>Not available</i>{{/type}}</td>
    </tr>
    <tr>
        <td>og:title</td>
        <td>{{#title}}{{.}}{{/title}}{{^title}}<i>Not available</i>{{/title}}</td>
    </tr>
    <tr>
        <td>og:image</td>
        <td>{{#image}}<a target="_blank" href="{{.}}">{{.}}{{/image}}{{^image}}<i>Not available</i>{{/image}}</td>
    </tr>
    <tr>
        <td>og:site_name</td>
        <td>{{#sitename}}{{.}}{{/sitename}}{{^sitename}}<i>Not available</i>{{/sitename}}</td>
    </tr>
    <tr>
        <td>og:description</td>
        <td>{{#description}}{{.}}{{/description}}{{^description}}<i>Not available</i>{{/description}}</td>
    </tr>
</table>

