<div style="overflow-x: auto;">
    <table class="table table-sm table-bordered">
        <tr>
            <th>Property</th>
            <th>Content</th>
        </tr>
        <tr>
            <td>Link Preview</td>
            <td>
                {{> core/url_preview_card}}
            </td>
        </tr>
        <tr>
            <td>Slim preview</td>
            <td>
                {{> core/url_preview_slim}}
            </td>
        </tr>
        <tr>
            <td>og:url</td>
            <td>{{#canonicalurl}}<a href="{{.}}" target="_blank">{{.}}</a>{{/canonicalurl}}{{^canonicalurl}}<i>Not available</i>{{/canonicalurl}}</td>
        </tr>
        <tr>
            <td>og:type</td>
            <td>{{#type}}{{.}}{{/type}}{{^type}}<i>Not available</i>{{/type}}</td>
        </tr>
        <tr>
            <td>og:title</td>
            <td>{{#title}}{{.}}{{/title}}{{^title}}<i>Not available</i>{{/title}}</td>
        </tr>
        <tr>
            <td>og:image</td>
            <td>{{#image}}<a target="_blank" href="{{.}}">{{.}}{{/image}}{{^image}}<i>Not available</i>{{/image}}</td>
        </tr>
        <tr>
            <td>og:site_name</td>
            <td>{{#sitename}}{{.}}{{/sitename}}{{^sitename}}<i>Not available</i>{{/sitename}}</td>
        </tr>
        <tr>
            <td>og:description</td>
            <td>{{#description}}{{.}}{{/description}}{{^description}}<i>Not available</i>{{/description}}</td>
        </tr>
    </table>
</div>