{{#noogmetadata}}
  <p>No Open Graph metadata available.</p>
{{/noogmetadata}}

{{^noogmetadata}}
<table class="table table-sm table-bordered">
    <tr>
        <th>Property</th>
        <th>Content</th>
    </tr>
    <tr>
        <td>Link Preview</td>
        <td>
            <div style="max-width: 450px">
                <div class="card shadow-sm">
                    {{#image}}
                        <img class="card-img-top" src="{{{.}}}" alt="Preview Image">
                    {{/image}}
                    <div class="card-footer">
                        {{#title}}
                            <h5><a href="{{canonicalurl}}" target="_blank" class="card-title stretched-link">{{.}}</a></h5>
                        {{/title}}
                        {{#description}}
                            <div class="card-text">{{.}}</div>
                        {{/description}}
                        {{#sitename}}
                            <small class="card-text text-muted text-uppercase">{{.}}</small>
                        {{/sitename}}
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>og:url</td>
        <td>{{#canonicalurl}}<a href="{{.}}" target="_blank">{{.}}</a>{{/canonicalurl}}{{^canonicalurl}}<i>Not available</i>{{/canonicalurl}}</td>
    </tr>
    <tr>
        <td>og:type</td>
        <td>{{#type}}{{.}}{{/type}}{{^type}}<i>Not available</i>{{/type}}</td>
    </tr>
    <tr>
        <td>og:title</td>
        <td>{{#title}}{{.}}{{/title}}{{^title}}<i>Not available</i>{{/title}}</td>
    </tr>
    <tr>
        <td>og:image</td>
        <td>{{#image}}<a target="_blank" href="{{.}}">{{.}}{{/image}}{{^image}}<i>Not available</i>{{/image}}</td>
    </tr>
    <tr>
        <td>og:site_name</td>
        <td>{{#sitename}}{{.}}{{/sitename}}{{^sitename}}<i>Not available</i>{{/sitename}}</td>
    </tr>
    <tr>
        <td>og:description</td>
        <td>{{#description}}{{.}}{{/description}}{{^description}}<i>Not available</i>{{/description}}</td>
    </tr>
</table>
{{/noogmetadata}}

